@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;

    margin:0;
}

p{
    font-family: "Arial", sans-serif;
    font-optical-sizing: auto;

    margin:0;
}

.hero-banner{
    margin: auto;
    display:flex;
    flex-direction:column;
    min-width: 100vw;
}

.hero-banner img{
    height: auto;
    max-height: 520px;
}



.story-overview{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #64748B;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-overview h1,p{
    color: #FFFDF6;
}

.story-overview p{
    font-size: clamp(1rem, 2.25vw, 30px);
}

.story-overview h1{
    font-size: clamp(2rem, 4.5vw, 60px);
    margin-bottom: 30px;
}


.story-section, .overview-section{
    display: flex;
    flex-direction: row;

    gap: 64px;

    width: 90vw;
    max-width: 1180px;

    justify-content: space-between;
}

.story-section{
    margin-bottom: 96px;
}

.story-section img{
    width: 20%;
    max-width:280px;
    height: auto;

    object-fit: contain;
}

.story-section section{
    width: 70%;
    max-width: 800px;
}


.overview-section{
    flex-direction: row-reverse;
}

.overview-section section{
    width: 50%;
    max-width: 620px;
}

.overview-section img{
    width: 40%;
    height: auto;

    object-fit: contain;
}




/* UTILITY CLASSES */
.flex-down{
    display: flex;
    flex-direction: column;
}